:root{
  --blue: #3665ff
}
#root-container{
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  color:blue;
}
.nav-link .nav-link:hover {
color: whitesmoke;
}
ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
}

ul.nav li.active a {
    color: white !important;
}

#navbar{
  background-color: var(--blue);
  color: white;

}
